{% load static %}
<!DOCTYPE HTML>
<html lang="es" >
    <head>
        <meta charset="UTF-8">
        <title>Plantilla de Django · Blog</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="">
        <meta name="HandheldFriendly" content="true"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <style>
            /* Estilos para los títulos */
            h1 {
                font-size: 24px;
                font-weight: bold;
                color: #45322e;
            }
        </style>
    </head>
    <body>
        <div>
            <h1>Bienvenidos al Listado de Post de Python</h1>
        </div>
        <div>
            <img src="{% static 'myapp/logo-ceica.jpg' %}" alt="Imagen de ejemplo">
        </div>
        <div>
            {% for post in posts %}
            <div>
                <p> publicado: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
        </div>

    </body>
</html>
