h1 a {
    color: #c25100ce;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 a {
    color: #c25100ce;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

post.title {
    color:bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

post.published_date {
    color: chocolate;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

post.text {
    color:bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}